In [1]:
import pandas as pd
df = pd.read_table('http://bit.ly/chiporders')
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [2]:
df.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

## Converting item price to float type

In [3]:
df['item_price'] = df.item_price.str.replace('$', '')

In [24]:
df.item_price = df.item_price.astype(float)

In [23]:
df.head()
df.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

In [6]:
df.item_price.mean()

7.464335785374397

In [7]:
df.choice_description = df.choice_description.astype(str)
df.item_price[df.choice_description.str.contains("nan")].mean()

3.2762759170653672

In [8]:
choice_described = []
for choice in df.choice_description:
    if choice == 'nan':
        choice_described.append(False)
    else:
        choice_described.append(True)
df.item_price[choice_described].mean()

9.011321090047451

In [9]:
df.item_name.str.contains('Chicken').astype(int).head()

0    0
1    0
2    0
3    0
4    1
Name: item_name, dtype: int32